{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <title>{% block title %}drchrono appointment kiosk{% endblock %}</title>

    <meta name="description" content="The drchrono appointment kiosk offers patients a paperless, digital check-in experience and offers doctors an opportunity to gather and view patient wait time metrics." />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% block head %}{% endblock %}
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div>
          <p class="text-center"><mark><em>alpha: please pass along bugs and feedback!</em></mark></p>
        </div>
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>

</body>
</html>
